.app {
  font-family: Arial, sans-serif;
}

.main-content {
  padding: 20px;
}

.texto-centralizado {
  text-align: center;
  margin: 20px 0;
  color: #070758;
}

.cards-container {
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagen-centrada {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding: 10px;
  background-color: #f0f0f0;
}
